<h1>Inscrivez-vous pour vos continuez vos achats !
    <div class="col-lg-10">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
          </svg>
        <br></div>
</h1>

<form (ngSubmit)="inscription()">
    Nom <input class="class1" type="text" name="nom" placeholder="Nom" [(ngModel)]="utilisateur.nom">
    <br>
    Prenom <input class="class1" type="text" name="prenom" placeholder="Prenom" [(ngModel)]="utilisateur.prenom">
    <br>
    Login <input class="class2" type="text" name="username" placeholder="Username" [(ngModel)]="utilisateur.username">
    <br>
    Password <input class="class2" type="text" name="password" placeholder="Password" [(ngModel)]="utilisateur.password">
    <br>
    Email <input class="class1" type="text" name="mail" placeholder="Email" [(ngModel)]="utilisateur.mail">
    <br>
    <button type="submit">S'inscrire</button>
</form>


<a routerLink="/authentification">Retour</a>
