

div
{
    text-align: right;
    margin-right: 5px;
}


h2
{
color: crimson;
text-align: center;

margin-top: 300px;
}

input
{
    background-color: cornflowerblue;
    text-align: center;
}

.class2
{
    background-color: chartreuse;
    text-align: center;
}
