.class
{
    color:white;
}

.center
{
    margin-left: auto;
    margin-right: auto;
}

th, td 
{
 border:1px solid black;
 width:20%;
 text-align: center;
}

.class1
{
    background-color: red;
    color: red;
}

h1
{
    color: black;
    text-align: center;
    background-color: olive;
    border: 4px solid black;
    margin-left: -12px;
    margin-right: -11px;
    margin-top: -12px;
}

.class3
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    background-color: cornflowerblue;
}

div
{
    text-align: right;
    margin-right: 5px;
}