<h1>Liste des categories de l'ecommerce
    <div class="col-lg-10">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-box2-heart-fill" viewBox="0 0 16 16">
            <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5ZM8.5 4h6l.5.667V5H1v-.333L1.5 4h6V1h1v3ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
          </svg>
    </div>
</h1>


    <table class="center">
        <tr>
            <td style="background-color: oldlace">Id</td>
            <td style="background-color: oldlace">Nom</td>
            <td style="background-color: oldlace">Description</td>

            <td style="background-color: oldlace">Action1</td>
            <td style="background-color: oldlace">Action2</td>
            <td style="background-color: oldlace">Action3</td>
        </tr>

        <tr *ngFor="let c of categories">
                <td>{{c.idCategorie}}</td>
                <td>{{c.nomCategorie}}</td>
                <td>{{c.description}}</td>
                <td><button *ngIf="c.produits!=null" (click)=" afficher(c.idCategorie)"> Afficher </button>
                    <p *ngIf="c.produits===null" class="class1"> X </p>
                </td>
                <td><button (click)="modifier(c.idCategorie)">Modifier</button></td>
                <td><button (click)="supprimer(c.idCategorie)">Supprimer</button></td>
    
        </tr>
        
        <tr class="class">aaa</tr>	
    </table>

    <hr>
    <button class="class3"  (click)="AjouterCategorie()">Ajouter une categorie</button>
    <br>
    <br>    
    <a routerLink="">Retour</a>